/*
 * HTML5 Boilerplate suggestions
 */
::-moz-selection,
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
svg { vertical-align: middle; }
table th {
	font-style: normal;
	font-weight: normal;
	color: #000;
	text-align: inherit;
}


/*
 * Default classes - css pertaining to entire document
 */

.link {
	color: rgb(0,153,204);
	cursor: pointer;
	font-weight: bold;
}
.link:hover { text-decoration: underline; }
.icon-text:hover { text-decoration: underline; }
.svgCircle{ margin: 0 0.7em; }
.noty_text { 
	margin: 25px;
	font-size: 1.1em;
}


/* ==========================================================================
   Custom Styles
   ========================================================================== */
  
html {
	height: 100%;
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: white;
	text-align: center;
	font-family: 'museo-sans-condensed', sans-serif;
	font-weight:300;
	font-size: 1em;
	overflow-x: hidden;
}


/* ==========================================================================
   Header Styling
   ========================================================================== */

#header {
	position: relative;
	z-index: 101;
	width: 100%;
	height: auto;
	margin-bottom: -1em;
	box-shadow: 0em 1em .7em 0em rgba(0, 0, 0, 0.2);
	text-align: left;
}
#header h1 {
	font-family: 'alternate-gothic-no-3-d', serif;
	color: #000;
	font-weight: 700;
	width:auto;
	margin: 0.5em 0 0.5em 29px;
	font-size: 3em;
	line-height: 0.7em;
	word-spacing: 0.08em;
	margin-bottom:0.3em;
}
#header small {
	font-family: 'museo-sans-condensed', sans-serif;
	font-size: .6em;
	font-weight: 100;
}
#nacoLogo {
	margin: 1.2em 1.8em 0 0;
	float: right;
}
#stateAssociationLogo {
	float:right;
	margin-top:.2em;
}

/* Indicator Dropdown Styling */
.navbar a {
	color: rgb(0, 0, 0);
	cursor: pointer;
}
#primeInd a,
#profileInd a:not(#resetProfileInd) {
	cursor: default;
}

.navbar-CIC {
	background-color:#fff;
	border: none;
	border-radius: 0;
	margin-bottom: 10px;
	color: #CCC;
	font-size: 1em;
	min-height: 47px;
	max-height: 47px;
}
.navbar-nav > li > a {
	padding-top: 10px;
	padding-bottom: 10px;
}
#primeIndList { margin-left: 15px; }
.dropdown-menu { text-align: left; }
#primeIndText, #profileIndText {
	font-size: 18px;
	font-weight: 500;	
}
.badge {
	margin-left: 5px;
	font-weight: 700;
}
.dropdown-menu > li .dropdown-header{
	font-weight:300;
}

/* Search */
#search-container {
	font-size: .8em;
	padding-right: 0px;
}
#search-field { 
	width: 170px; 
	border:1px solid #999;
}
#search-type-container { margin-top: 6px; }
#search-type-container .btn-group>.btn.active {
	background-color:rgb(0,153,204);
	color:white;
	border-top: 1px solid rgb(255,255,255);
	border-bottom: 1px solid rgb(255,255,255);
}
#state-drop-container {
	margin-top: 2px;
	margin-left: 10px;
}
#search-submit {
	position: relative;
	top:5px;
	margin-left:-25px;
}


/* Access More Data Button */
#more-data-button {
	background-color: rgb(255, 153, 51); 
	border-bottom: 3px solid rgb(204, 51, 0);
}
#more-data-button a {
	font-size: 1.2em;
	font-weight:500;
	color: #FFF;
	margin-top:4px;
}
#more-data-button a:hover {
	color: rgb(0,153,204);
	background-color: transparent;
}
#more-data-icon {
	display:inline-block;
	width:50px;
}
#more-data-button img {
	margin-left:15px;
	margin-top:-5px;
}



/* ==========================================================================
   Body Styling
   ========================================================================== */

#cc {
	width: 100%;
	text-align: center;
	padding-top: 7px;
}
#container {
	position: relative;
	height: 100%;
	padding-bottom: 20px;
}
#mobile-text {
	font-size:2em;
	padding:1em;
}

/* Map Styling */
#map {
	z-index: -10;
	float: left;
}
#map-svg {
	position: relative;
	background-color: #FFF;
}
.county {
  	fill: none;
  	stroke-width: .2px;
  	stroke: rgb(255,255,255);
  	stroke-linejoin: round;
  	stroke-linecap: round;
}
.county:hover {
	stroke: black;
  	stroke-width: 0.7px;
  	opacity: .5;
}
.county.active {
	stroke: rgb(255,166,1);
	stroke-width: 0.7px;
	fill: rgb(225, 0, 0);
	/*fill: rgb(0, 173, 220); */
	/*fill: rgb(253, 156, 2);*/
}
#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}


/* Icons Styling */
#zoomIcons {
  position: absolute;
  left: 65px;
  top: 25px;
  width: 30px;
  background-color: white;
  opacity: 0.9;
  z-index: 1;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#zoomPlusIcon, #zoomMinusIcon {
  padding: 5px;
  width: 100%;
  border: 1px solid #CCC;
  color: #777;
  cursor: pointer;
}
#zoomMinusIcon { 
	border-top: none;
	font-size: 1.5em;
	line-height: 1em;
}

#side-icon-container {
	position: absolute;
	width: 140px;
	white-space: nowrap;
	top: 15px;
	right:0px;
}
.icon-right-panel {
	padding-top: 1.5em;
	margin:0;
	width:100%;
	border-bottom:2px solid rgb(0,51,102);
}
.icon-right-panel>.col-xs-3 {
	padding:0;
	margin:0;
	width:30px;
	background-color:rgb(0,153,204);
}
.side-icon svg{ color: white; fill:currentColor; }
.icon-text-box {
	height:30px;
	width:110px;
	background-color:rgb(51,204,255);
	padding:0;
	line-height: 28px;
}
.side-icon-text {
	color: #FFF;
	font-size:.8em;
	vertical-align: middle;
	text-overflow: nowrap;
	text-align: center;
	cursor: pointer;
}
#rrssbContainer {
	position: absolute;
	right: -200px;
	top: 30%;
	width: 200px;
	z-index: 6;
}
.newWindow {
    background-image:url(../img/colorbox/newWindow.png);
    background-position:top;
    display:block;
    height:28px;
    width:65px;
    position:absolute; 
    top:0px;
    text-indent:-9999px;
}
.newWindow:hover {
    background-position:bottom;
}

/* Tooltip Styling */
.tooltip {
  z-index: 5;
  color: #222; 
  background: #fff; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 0; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  -mox-box-shadow: 0px 0px 2px 0px #a6a6a6; 
  -webkit-box-shadow: 0px 0px 2px 0px #a6a6a6;   
  position: absolute;
  opacity: 0.95;
  pointer-events: none;
}
.arrow-box {
	position: relative;
	background: #fff;
}
.arrow-box:after {
	top: 100%;
	right: 20px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #fff;
	border-width: 15px;	
	/*this sort-of works*/
	/*transform: rotate(45deg); 
	box-shadow: -1px -1px 10px -2px rgba(0,0,0,0.5);*/
}

#tipLocation {
	color: #fff;
	padding: 0.3em;
	font-family: 'alternate-gothic-no-3-d', serif;
	font-size: 1.8em;
	background-color: rgb(253,156,2);
	position: relative;
}
#tipInfo { 
	font-weight: 300;
	padding: 0.6em;
	font-size: 1.2em;
	line-height: 1.8em;	
}
.tipKey {
	padding: 0.1em 0.5em;
	font-size: 1.1em;
	white-space: nowrap;
	text-align:center;
}
.tipKey .datasetName { font-weight: 500; }
.tipKey .dataName {
	text-align: right;
	padding-right: 1em;
}
.tipKey .dataNum {
	text-align: left;
	vertical-align: bottom;
	padding-right: 0.6em;
}
.leftborder {
	border-left: 1px solid black;
	padding-left: 0.6em;
}


/* Under The Map Styling */
#undermap {
	margin: 0;
	text-align: left;
	font-size: 0.9em;
	font-weight: 300;
	float:left;
}

#legend-container { margin-top: 1em; }
#quantileLegend{
	font-weight:500;
	border: 0;
  	height:60px;
  	width: 100%;
}
#quantileLegend .colorlegend-labels {
  font-size: 1em;
  fill: black;
}
#quantileLegend .colorlegend-boxlabels {
  font-size: 1em;
  text-align: center;
}
#legendTitleContainer { 
	text-align: center;
	line-height: 1.2em;
}
#legendTitle {
	font-weight:500;
	font-size: 1em;
	white-space: nowrap;
}
#legendSubtitle {
	font-weight: 300;
	font-size: 1em;
}

.unavailable-text {
	text-align: center;
	font-size: 0.8em;
	color: rgb(0,64,112);
}
#sourceContainer,
#definitionsContainer,
#notesContainer {
	text-align: left;
	font-size: 0.85em;
	margin-top: 5px;
}
#sourceContainer { margin-top: 20px; }
#definitionsContainer { margin-top: 10px; }
.byline {
	text-align: center;
	font-size: 0.85em;
	margin-top: 25px;
}


/*
 * Quantile and Threshold Button Styling (not currently being used)
 */
#perCapitaButton {
	text-align: center;
	margin-top: 15px;
}
#perCapitaButton:focus { outline: none; }
#measureTypeContainer, #thresholdInputContainer { margin-top: 10px; }
#thresholdInputContainer {
	font-size: 0.8em;
	display: none;
}
#thresholdInputContainer table {
	border-collapse: separate; 
	border-spacing: 10px 0px;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

.center { text-align: center; }
.hidden {
    display: none !important;
    visibility: hidden;
}
.margin-left-10 { margin-left: 10px; }
.pad-down-5 { padding-bottom: 5px; }
.pad-down-10 { padding-bottom: 10px; }
.pad-5 { padding: 5px 0px; }



/* ==========================================================================
   Media Queries for Responsive Design
   ========================================================================== */

@media (max-width: 1025px) {
	#nacoLogo #stateAssociationLogo{ display: none; }
	.side-icon-text { display: none; }
	#more-data-button a { padding: 10px 5px 7px 15px; }
	#more-data-button span { display: none; }
}
@media (max-width: 910px) {
	#profileIndList { display: none; }
}
@media (min-width: 768px) {
	.navbar-brand { display: none; }
}
@media (max-width: 768px) {
	#search-container { 
		background-color: white;
		border-bottom: 2px solid #ccc;
		margin-top: -1em;
		padding-top: 1em;
		padding-left:1em;
	}
	#container {
		padding-top:3em;
	}
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
	.hidden-print, .hidden-print *{
		display: none !important;
	}	
	h4 { text-align: center; }
	table {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}	
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }   
	table, td {
		border: 1px solid black;
	}	
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}