/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
	font-size: 2em;
	margin: 0.2em auto;
	width: 75%;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	width:100%;
	background-color: white;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1em;
}

table th{
	font-style: normal;
	font-weight: normal;
	color:#000;
	text-align:inherit;
}

#underMap {
	margin: 0 auto;
	text-align: left;
	font-size: .9em;
	font-weight:300;
}

#byline{
	color: rgb(0,64,112);
	text-align: left;
	display: inline-block;
	font-size: 0.8em;
	margin-top:1em;
}
#byline p{
	color:#333;
	margin-left:-1em;
}

#instructions, #fullDefs{
	display: none;
	text-align: left;
	width: 80%;
	max-width: 900px;
	height: 70%;
	position: absolute;
	top: 5%;
	z-index: 100;
	box-shadow: 0 0 .938em rgba(0, 0, 0, 0.2);
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(255, 255, 255, .95);
	background-image: none;
	background-size: auto auto;
	padding: 1% 2% 2% 2%;
	overflow: auto;
}

.instructionImg{
	display: inline-block;
	float: left;
	height: 5%;
	width: 5%;
	margin: 0 1em;
	display: none;
}

#instructionText, #fullDefsText{
	display: inline-block;
	position: absolute;
	top: 50px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: auto;
	padding-bottom: 20px;
	text-align: left;
	font-size: 1em;
	padding: 20px;
}

#instructionText a, #fullDefsText a, .county_link{
	color:rgb(0,64,112);
	cursor: pointer;
}

#fullDefsButton{
	color:rgb(0,64,112);
	font-size: 1em;
	cursor: pointer;
}
#close, #close2, #help, #fullReport{
	color:rgb(0,64,112);
	font-size: 1em;
	position: relative;
	float: right;
	cursor: pointer;
	text-align: right;
	clear: right;
	padding-right: .5em;
}

#showOnMap, #print {
	position: relative;
	color: rgb(0, 64, 112);
	font-size: .9em;
	cursor: pointer;
	padding-left: .5em;
	display: inline;
}
#print { margin-left: 10px; }

#close:hover, #close2:hover, #instructionText a:hover, #help:hover, #showOnMap:hover, #print:hover, .county_link:hover{
	text-decoration:underline;
}
.noty_text { 
	margin: 25px;
	font-size: 1.1em;
}

html, body { height: 100%; }
body {
  position: relative;
  overflow: hidden;
}

#header {
	position: relative;
	z-index: 10;
	width: 100%;
	height: auto;
	margin-bottom: -1em;
	box-shadow: 0em 1em .7em 0em rgba(0, 0, 0, 0.2);
	text-align: left;
}

#cc {
	position: absolute;
	top: 174px;
	bottom: 0px;
	width: 100%;
	text-align: center;
	overflow-y: auto;
	padding-top:50px;
}

#container {
  position: relative;
  height: 100%;
}

#header p {
	margin:0 3em;
	padding: 0;
	font-weight:300;
	font-size:1em;
}
#header h1{
	font-family: 'Arvo', serif;
	color: #000;
	font-weight: 100;
	width:auto;
	margin: 1.0em 0 .5em 1.1em;
	font-size:2.0em;
}
h1 small {
	color:rgb(0,64,112);
}

#nacoLogo {
	width:180px;
	margin: 2.2em 2.2em 0 0;
	float:right;
}


.navbar-CIC {
	background-color:#fff;
	border: none;
	border-radius: 0;
	margin-bottom: 10px;
	color: #CCC;
	font-size:1em;
	min-height:47px;
	max-height:47px;
}

.navbar-nav > li > a{
	padding-top:10px;
	padding-bottom:10px;
}
.navbar a {
	color:#000;
}
.navbar .icon-bar{
	background-color:#ccc;
}

.dropdown-menu {
	text-align: left;
}

#searchContainer{
	font-size: .8em;
	padding-right: 0px;
}
#searchTypeLi { margin-top: 2px; }

#map {
	/*position: relative;*/
	z-index:-10;
	float:left;
}
#moreData { background-color:rgb(0, 173, 220); }
#moreDataButton{
	font-size:1.2em;
	color:#fff;
	padding:10px 15px 7px 15px;
}
#moreDataImg{
	height:30px;
	width:30px;
	margin-left:5px;
	margin-right: 2em;
}
#moreDataButton:hover{
	color:rgb(255,204,102);
	background-color:transparent;
}
#zoomIcons {
  position: absolute;
  left: 20px;
  top: 180px;
  width: 30px;
  background-color: white;
  opacity: 0.9;
  z-index: 1;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#zoomPlusIcon, #zoomMinusIcon {
  padding: 5px;
  width: 100%;
  border: 1px solid #CCC;
  color: #777;
  cursor: pointer;
}
#zoomMinusIcon { 
	border-top: none;
	font-size:1.5em;
	line-height:1em;
}

#sourceContainer, #definitionsContainer, #notesContainer {
	text-align: left;
	font-size: .85em;
	margin-top: 5px;
}
#sourceContainer { margin-top: 20px; }
#notesContainer { padding-bottom: 30px; }
/*
 * Map and SVG CSS
 */
#mapSvg{
	position:relative;
	background-color:#ffffff;
}
.county {
  fill: none;
  stroke-width: .2px;
  stroke: rgb(255,255,255);
  stroke-linejoin: round;
  stroke-linecap: round;
}
.county:hover{
  stroke: rgb(255,166,1);
  stroke-width: .7px;
  opacity: .5;
}
.county.active {
	fill: rgb(0, 173, 220);
	stroke:rgb(255,166,1);
	stroke-width: .7px;
	/*fill: rgb(253,156,2);*/
}

#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}
/*
 * 
 * Icons CSS
 * 
 */
#iconsGroup{
	position:absolute;
	width:100px;
	height:auto;
	white-space:nowrap;
}
.iconContainer{
	display:block;
	vertical-align:middle;
}
.my-icons{
	width:30px;
	height:30px;
	margin: 15px;
}
.extraInstructions{
	font-size:.8em;
	color:#bbb;
	vertical-align:middle;
	text-overflow: nowrap;
	text-align:left;
}
#rrssbContainer{
	position:absolute;
	right: -200px;
	top:51%;
	width:200px;
}
/*
 * 
 * Legend CSS
 * 
 */
#legend-container{
	margin-top:1em;
}
#legendNoData {
	margin-top:4em;
	display: inline-block;
	font-size: 0.8em;
	text-align:right;
}
#quantileLegend{
	font-weight:400;
	border: 0;
  	height:60px;
  	width: 100%;
}

#quantileLegend .colorlegend-labels {
  font-size: 1em;
  fill: black;
}

#quantileLegend .colorlegend-boxlabels {
  font-size: 1em;
  text-align: center;
}

#legendTitle {
	text-align: center;
	font-weight:400;
	font-size: 1.1em;
}

/*
 * CSS for the 
 * Tooltip
 * 
 */


div.tooltip {
  z-index: 5;
  color: #222; 
  background: #fff; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 0; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  -mox-box-shadow: 0px 0px 2px 0px #a6a6a6; 
  -webkit-box-shadow: 0px 0px 2px 0px #a6a6a6;   
  position: absolute;
  opacity:.95;
  pointer-events: none;
}

.arrow_box {
	position: relative;
	background: #fff;
}
.arrow_box:after {
	top: 100%;
	right: 20px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #fff;
	border-width: 15px;
/*this sort-of works*/
	/*transform: rotate(45deg); 
	box-shadow: -1px -1px 10px -2px rgba(0,0,0,0.5);*/
}

#tipLocation {
	color: #fff;
	padding: 0.3em;
	font-family: 'Arvo', serif;
	font-size: 1.8em;
	background-color: rgb(253,156,2);
	position: relative;
}
#tipInfo { 
	font-weight:300;
	padding: .6em;
	font-size:1.2em;
	line-height:1.8em;	
}
.tipKey {
	padding:  .1em .5em;
	font-size: 1.1em;
	white-space: nowrap;
}
.tipKey .dataName {
	text-align: right;
	padding-right:1em;
}
.tipKey .dataNum {
	text-align:left;
	vertical-align: bottom;
	padding-right:.6em;
}
.leftborder{
	border-left: 1px solid black;
	padding-left:.6em;
}
/*
 * Dropdown stylin'
 */
#primeIndLi{
	margin-left:.7em;
}
#primeIndLi a, #secondIndLi a:not(#resetSecondInd), #searchTypeText, #stateDropText {
	cursor: default; 
}
#searchTypeDrop a, #stateDrop a {
	cursor: pointer;
}
#resetSecondInd {
	 text-align: center;
	 cursor: pointer;
}

/*
 * Styling for ALL CFM Responses
 */
#responseContent #multiCountyResult{
	padding-bottom: 3em;
	/*
	 * Need to figure out how to scroll within response content, but leave "show on map" and "close" at the top
	 */
}
#responseContent h4{
	color:#000;
	font-family: 'Arvo', serif;
	text-align:center;
}

/* 
 * County Response, all classes begin with countyResponse-<class>
 */
#countyResponse-memberRow #countyResponse-nacoMember{
	height: 1.4em;
	margin-top:-1em;
}
#countyResponse-nacoMember h4{
	text-align:right;
	font-size: .8em;
}
#countyResponse-countyDetails table{
	text-align:left;
}
#countyResponse-populations table{
	text-align:left;
	font-size: .8em;
}
#countyResponse-quickLinks ul{
	text-align:left;
	padding-left:30%;
	list-style:none;
}
#countyResponse-electedOfficials table, #multiCountyResult table, #cityResponse table{
	width:auto;
	margin: 0 auto;
}
#countyResponse-electedOfficials td{
	padding: inherit 1em;
}
#multiCountyResult td{
	padding-left:1em;
	padding-right:1em;
} 
/*
 * Access more data content stylings
 */
#moreDataContent{
	margin-top: -1em;
	padding-bottom: 2em;
}
#moreDataContent h3{
	font-family:'Arvo', serif;
}
#moreDataContent img{
	height:180px;
	margin-right:2em;
}
#moreDataContent p {
	margin-top:100px;
	text-align:left;
	margin-right:1em;
}
 
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media (max-width: 1000px){
	#nacoLogo {
		display: none;
	}
	.extraInstructions{
		display:none;
	}
}
@media (max-width: 915px){
	#moreDataText {
		display:none;
	}
}
@media (min-width: 640px) {
    /* Style adjustments for viewports that meet the condition */
	.navbar-brand {
		display: none;
	}
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}