/*
 * CSS for Overlay (popup)
 * includes "update" content, "newsletter" content, help docs, etc.
 */
#watermark {
  color: #d0d0d0;
  font-size: 4.5em;
  text-indent:-1em;
  padding-left:1em;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  position: absolute;
  margin: 0;
  z-index: -1;
  left:10%;
  top:20%;
}
#instructions {
	position: absolute;
	text-align: left;
	width: 80%;
	max-width: 900px;
	top: 5%;
	z-index: 100;
	box-shadow: 0 0 .938em rgba(0, 0, 0, 0.5);
	moz-box-shadow: 0 0 .938em rgba(0, 0, 0, 0.5);
	webkit-box-shadow: 0 0 .938em rgba(0, 0, 0, 0.5);
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(255, 255, 255, .95);
	background-image: none;
	background-size: auto auto;
	padding: 1% 0% 2% 0%;
	overflow: auto;
}

#instruction-content {
	display: inline-block;
	position: absolute;
	top: 50px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: auto;
	padding-bottom: 20px;
	text-align: left;
	font-size: 1em;
	z-index: 4;
}

.panel-title { padding: 10px 0px 0px 35px; }
.panel-content {
	padding: 5px 0px 0px 50px;
	max-width: 800px;
}


/* Update Content */
.update-help-button-container {
	margin-top: 40px;
	padding: 10px 10px 20px 10px;
	background-color: #EEE;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}
.update-help-button-text { font-weight: 500; }
.update-help-button:first-child { margin-right: 15px; }


/* Content for Extraction Tool (Access More Data) */
.extraction-tool-header a {
	font-family: 'Merriweather', serif;
	color: rgb(255,153,51);
}
.extraction-tool-header a:hover {
	color: rgb(230,128,26);
}
.extraction-tool-content {
	text-align: left;
	display: inline-block;
	max-width: 600px;
	margin-top: 15px;
}
.extraction-tool-img {
	border: 1px solid #CCC;
	margin-top: 15px;
}


/* Help Content */
.help-link-container { padding-bottom: 5px; }
.help-link {
	cursor: pointer;
	text-decoration: underline;
}
.help-link:hover { color: #2a6496; }
.panel-bullet { margin-left: 20px; }


/* Google Form */
mailing-form form { margin-top: 35px; }
mailing-form .email-input { width: 220px; }
mailing-form .ss-item { margin-top: 20px; }


/* County Facts */
#results-container { margin-top: 20px; }


/* Overlay Components */
#close {
	position: relative;
	color: rgb(0, 64, 112);
	font-size: 1em;
	float: right;
	cursor: pointer;
	text-align: right;
	clear: right;
	margin: 1em 1em 0px 0px;
	z-index: 5;
}

#showOnMap, #print {
	position: relative;
	color: rgb(0, 64, 112);
	font-size: .9em;
	cursor: pointer;
	padding-left: 1em;
	display: inline;
}
#print { margin-left: 10px; }


/* Pagination */
.pagination-container {
	text-align: right;
	position: absolute;
	bottom: 0px;
	right: 20px;
}
.pagination a:hover { text-decoration: none; }
.pagination .active { color: white; }
