<div id="showOnMap" class="icon-text" ng-show="panel.showOnMapVisible"><img class="svgCircle" src="img/showOnMap.svg" />show on map</div>
<div id="print" class="icon-text" ng-show="panel.printVisible"><img class="svgCircle" src="img/print.svg" />print</div>
<div id="close" class="icon-text" ng-click="panel.setVisible(false)">close<img class="svgCircle" src="img/Close.svg"/></div>

<!-- All Popup Content -->
<div id="instruction-content">
	<div id="results-container" ng-show="panel.isShowing('results')">
		
	</div>
	
	<div ng-show="panel.isShowing('update')">
		<div class="panel-title"><h3><a class="link" id="updateLink" href="http://cic.naco.org/updates/sep14.html">November 2014 Update</a></h3></div>
		<div class="panel-content">
			<p>
				<div class="pad-down-5">New Indicators!</div>
				<div class="pad-down-5 panel-bullet">&bull; <a class="link" ng-click="panel.goToIndicator('Secure Rural Schools (SRS)', 'SRS Amount')">Federal Funding - Secure Rural Schools (SRS) - 2013</a></div>
				<div class="pad-down-5 panel-bullet">&bull; <a class="link" ng-click="panel.goToIndicator('Arts Establishments', 'Arts Businesses')">Public Amenity - Arts Establishments - 2014</a></div>
				
				<!-- <div class="pad-down-5 panel-bullet">&bull; <a class="link" ng-click="panel.goToIndicator('Educational Attainment', 'Less than 9th Grade')">Educational Attainment - Less than 9th Grade</a></div>
				<div class="pad-down-5 panel-bullet">&bull; <a class="link" ng-click="panel.goToIndicator('Educational Attainment', '9th to 12th Grade')">Educational Attainment - 9th to 12th Grade</a></div>
				<div class="pad-down-5 panel-bullet">&bull; <a class="link" ng-click="panel.goToIndicator('Educational Attainment', 'High School Graduate')">Educational Attainment - High School Graduate</a></div>
				<div class="pad-down-5 panel-bullet">&bull; <a class="link" ng-click="panel.goToIndicator('Educational Attainment', 'Some College')">Educational Attainment - Some College</a></div>
				<div class="pad-down-5 panel-bullet">&bull; <a class="link" ng-click="panel.goToIndicator('Educational Attainment', 'Associate&#8217;s Degree')">Educational Attainment - Associate's Degree</a></div>
				<div class="pad-down-5 panel-bullet">&bull; <a class="link" ng-click="panel.goToIndicator('Educational Attainment', 'Bachelor&#8217;s Degree')">Educational Attainment - Bachelor's Degree</a></div>
				<div class="pad-down-5 panel-bullet">&bull; <a class="link" ng-click="panel.goToIndicator('Educational Attainment', 'Graduate or Professional Degree')">Educational Attainment - Graduate or Professional Degree</a></div>
				-->
				<div class="pad-5">Sign up for our monthly update <a class="link" ng-click="panel.toggleShowing('mailingList')">here</a>.</div>
				<div class="pad-5">Coming soon! December 2014 Update: Educational Attainment</div>
			</p>
		</div>
		<div class="center update-help-button-container">
			<div class="pad-down-10 update-help-button-text">How to Use Our Updated Search Functions</div>
			<div>
				<button type="button" class="btn btn-lg btn-primary update-help-button" ng-click="panel.toggleShowing('help'); panel.selectHelpTab(4);">City-County Search</button>
				<button type="button" class="btn btn-lg btn-primary update-help-button" ng-click="panel.toggleShowing('help'); panel.selectHelpTab(6);">County Officials</button>
			</div>
		</div>
	</div>
	
	<div ng-show="panel.isShowing('accessMoreData')">
		<div class="center extraction-tool-header"><h3><a class="link" href="http://cic.naco.org/cic_extraction/cic_extraction_1.cfm">County Explorer Extraction Tool</a></h3></div>
		<div class="center">
			<div class="extraction-tool-content"><p>
				Customizable data downloads now available! 
				Download the most recent data and additional historical data from over 500 indicators. 
				Start by clicking <a class="link" href="http://cic.naco.org/cic_extraction/cic_extraction_1.cfm">here</a>.
			</p></div>
			<a class="link" href="http://cic.naco.org/cic_extraction/cic_extraction_1.cfm"><img class="extraction-tool-img" src="img/CICExtractionThumb.png" width="400" height="262" /></a>
		</div>
	</div>
	
	<div class="center" ng-show="panel.isShowing('mailingList')">
		<p><h3>Keep Me Updated!</h3></p>
		<p>Submit your email to the mailing list and receive updates when new features have been added.</p>
	
		<mailing-form></mailing-form>	
	</div>
	
	<div class="center" ng-show="panel.isShowing('thankYou')">
		<p><h3>Thank you! Now you will be the first to know about the latest county data.</h3></p>
		<p>Don't forget to <a class="link share-toggle">share the County Explorer</a> with others!</p>
	</div>
	
	<div class="helpText" ng-show="panel.isShowing('help') && panel.isHelpSelected(1)">
		<div class="panel-title"><h3>Help</h3></div>
		<div class="panel-content">
			<p>
				<div class="help-link-container">&bull; <span class="help-link" ng-click="panel.selectHelpTab(2);">View a new indicator on the map</span></div>
				<div class="help-link-container">&bull; <span class="help-link" ng-click="panel.selectHelpTab(2);">See detailed information on an indicator</span></div>
				<div class="help-link-container">&bull; <span class="help-link" ng-click="panel.selectHelpTab(4);">Find a county</span></div>
				<div class="help-link-container">&bull; <span class="help-link" ng-click="panel.selectHelpTab(4);">Find a county by a city name</span></div>
				<div class="help-link-container">&bull; <span class="help-link" ng-click="panel.selectHelpTab(4);">Find a county by a state name</span></div>
				<div class="help-link-container">&bull; <span class="help-link" ng-click="panel.selectHelpTab(6);">Find a county seat or an elected official</span></div>
				<div class="help-link-container">&bull; <span class="help-link" ng-click="panel.selectHelpTab(3);">Compare two indicators</span></div>
			</p>
		</div>
	</div>
	
	<div class="helpText" ng-show="panel.isShowing('help') && panel.isHelpSelected(2)">
		<div class="panel-title"><h3>Getting Started</h3></div>
		<div class="panel-content">
			<p>
				<!-- <div class="pad-down-5">&bull; The map always displays the latest year of data in the CIC database for the &quot;Primary Indicator&quot;.</div> -->
				<div class="pad-down-5">&bull; Pick a statistic by clicking on &quot;Primary Indicator&quot; on the top left of the screen and choosing an indicator.</div>
				<div class="pad-down-5">&bull; <b>Click</b> on a county on the map to show the statistics for the chosen indicator for that county.</div>
				<div class="pad-down-5">&bull; <b>Double-click</b> on a county on the map to show detailed information about that county.</div>
			</p>
			<br/>
			<div>Click on the "Access More Data" button in the top-right corner to sign up to download data through the County Explorer extraction tool</div>
			<br/>
			<div><img src="img/Mail.svg"> - Sign up for <b>County Explorer data updates</b> to be the first to know the latest information about counties</div>
			<br/>
			<div><img src="img/Share.svg"> - Share the County Explorer on social media</div>
		</div>
	</div>
	
	<div class="helpText" ng-show="panel.isShowing('help') && panel.isHelpSelected(3)">
		<div class="panel-title"><h3>Comparing Two Indicators</h3></div>
		<div class="panel-content">
			<p>To show additional statistics or compare indicators within a county, click on &quot;Secondary Indicator&quot; on the top left of the screen and choose another indicator.</p>
			<p>Clicking on a county will now compare statistics for both selected indicators</p>
			<br/>
			<p><img src="img/Reset_indicators.svg"> - Click this to no longer see the secondary indicator</p>
		</div>
	</div>
	
	<div class="helpText" ng-show="panel.isShowing('help') && panel.isHelpSelected(4)">
		<div class="panel-title"><h3>Finding A County</h3></div>
		<div class="panel-content">
			<p>
				<div class="pad-down-5">&bull; To find out which county a <b>city</b> is in, click on "City Search" and type in the name of the city.</div>
				<div class="pad-down-5">&bull; To find a particular <b>county</b>, click on "County Search" and type in the name of the county.</div>
				<div class="pad-down-5">&bull; To see all the counties within a <b>state</b>, click on "State Search" and pick a state from the dropdown.</div>
				<div class="pad-down-5">&bull; To find county elected officials and other basic county information, double click on a county on the map.</div>
			</p>
		</div>
	</div>
	
	<div class="helpText" ng-show="panel.isShowing('help') && panel.isHelpSelected(5)">
		<div class="panel-title"><h3>Using the Map</h3></div>
		<div class="panel-content">
			<p>
				<div class="pad-down-5">&bull; Pick a new statistic by clicking on &quot;Primary Indicator&quot; on the top left of the screen and choosing an indicator.</div>
				<div class="pad-down-5">&bull; Click on a county on the map to show statistics.</div>
				<br/>
				<div class="pad-down-5">&bull; Scroll up when hovering over the map to ZOOM IN.</div>
				<div class="pad-down-5">&bull; Scroll down when hovering over the map to ZOOM OUT.</div>
				<p>&bull; Click <img src="img/Back_to_US.svg"> to fully zoom out and see the entire map</p>
			</p>
		</div>
	</div>
	
	<div class="helpText" ng-show="panel.isShowing('help') && panel.isHelpSelected(6)">
		<div class="panel-title"><h3>County Information and Details</h3></div>
		<div class="panel-content">
			<div class="pad-down-5">Double-click on any county on the map to view more information about the county.</div><br/>
			<div class="pad-down-5">Available information includes:</div>
			<div class="pad-down-5 margin-left-10">&bull; Population</div>
			<div class="pad-down-5 margin-left-10">&bull; County Seat</div>
			<div class="pad-down-5 margin-left-10">&bull; Size of Board</div>
			<div class="pad-down-5 margin-left-10">&bull; List of Elected Officials</div>
			<!-- <p class="pad-down-5">You can also find out whether a county has an Elected Executive or County Administrator by navigating to the "Government Structure" dataset</p>
			<p class="pad-down-5">You can also find out whether a county has an Elected Executive or County Administrator by selecting from the "Primary Indicator"</p>
			<p>
				<div class="pad-down-5">&bull; Hover over the "County Structure" category</div>
				<div class="pad-down-5">&bull; Hover over the "Government Structure" dataset</div>
				<div class="pad-down-5">&bull; Select "Elected Executive" or "County Administrator" to see which counties have that position</div>
			</p> -->
		</div>
	</div>
	
	<div class="pagination-container" ng-show="panel.isShowing('help')">
		<ul class="pagination">
			<li>
				<a class="link" ng-click="panel.incrementHelpTab(-1)">&laquo;</a>
			</li>
			<li name="1" ng-class="{active: panel.isHelpSelected(1)}">
				<a class="link" ng-click="panel.selectHelpTab(1)">1</a>
			</li>
			<li name="2" ng-class="{active: panel.isHelpSelected(2)}">
				<a class="link" ng-click="panel.selectHelpTab(2)">2</a>
			</li>
			<li name="3" ng-class="{active: panel.isHelpSelected(3)}">
				<a class="link" ng-click="panel.selectHelpTab(3)">3</a>
			</li>
			<li name="4" ng-class="{active: panel.isHelpSelected(4)}">
				<a class="link" ng-click="panel.selectHelpTab(4)">4</a>
			</li>
			<li name="5" ng-class="{active: panel.isHelpSelected(5)}">
				<a class="link" ng-click="panel.selectHelpTab(5)">5</a>
			</li>
			<li name="6" ng-class="{active: panel.isHelpSelected(6)}">
				<a class="link" ng-click="panel.selectHelpTab(6)">6</a>
			</li>
			<li>
				<a class="link" ng-click="panel.incrementHelpTab(1)">&raquo;</a>
			</li>
		</ul>
	</div>
</div>