<!--<div id="showOnMap" class="icon-text" ng-click="panel.setVisible(false)"><a id="showOnMapLink" href="#" alt="Explore the data"><strong>Explore the data!</strong></a></div>-->
<div id="stateSearchToggle" class="icon-text">
	<a id="showMapView" class="link" title="Map View" ng-click="panel.isShowing('results')" onclick="CIC.mapToggle('map')"><img class="svgCircle" width="30" height="30" alt="Map View" src="img/map-view.svg"/></a>
	<a id="showTableView" class="link" title="Table View" ng-click="panel.isShowing('results')" onclick="CIC.mapToggle('table')"><img class="svgCircle" width="30" height="30" alt="Table View" src="img/table-view.svg"/></a>
</div>
<div id="print" class="icon-text" ng-show="panel.printVisible"><img class="svgCircle" src="img/print.svg" />print</div>
<div id="close" class="icon-text" ng-click="panel.setVisible(false)"><img class="icon" width="15" height="15" alt="close" src="img/Close.svg"/></div>
<!-- causes problems with double-click overlay close button as well -->
<!--<div id="close" class="icon-text" ng-click="panel.goToIndicator('County Economies', 'County Economic Profile')"><img class="icon" width="15" height="15" alt="close" src="img/Close.svg"/></div>-->
<!-- All Popup Content -->
<div id="instruction-content">
	<div id="results-container" ng-show="panel.isShowing('results')"></div>
	
	<div ng-show="panel.isShowing('update')">
		<!--<div id="watermark">All data and profiles<br/>Embargoed until<br/> 01/12/2016 12:01AM</div>-->
		<div class="col-sm-9 update-column">
			<div class="panel-title"><h1>January 2017 Update</h1></div>
			<div class="panel-content">
				<div class="pad-down-5">Click on "Map an Indicator", to choose a dataset and any of the following indicators.  Or browse hundreds of other indicators.</div>
				<div class="panel-headline"><h2>Poverty</h2></div>
					<div class="pad-down-5 panel-bullet">&bull; <a class="link" ng-click="panel.goToIndicator('Poverty', 'Child Poverty Rate')">Child Poverty Rate</a></div>
					<div class="pad-down-5 panel-bullet">&bull; <a class="link" ng-click="panel.goToIndicator('Poverty', 'Household Income Place Effect')">Household Income Place Effect</a></div>
				<div class="panel-headline"><h2>Supplemental Nutrition Assistance Program (SNAP)</h2></div>
					<div class="pad-down-5 panel-bullet">&bull; <a class="link" ng-click="panel.goToIndicator('Supplemental Nutrition Assistance Program (SNAP)', 'SNAP Benefits')">SNAP Benefits</a></div>
					<div class="pad-down-5 panel-bullet">&bull; <a class="link" ng-click="panel.goToIndicator('Supplemental Nutrition Assistance Program (SNAP)', 'SNAP Recipient Households')">SNAP Recipient Households</a></div>
				<div class="panel-headline"><h2>Workforce Innovation and Opportunity Act (WIOA)</h2></div>
					<div class="pad-down-5 panel-bullet">&bull; <a class="link" ng-click="panel.goToIndicator('Workforce Innovation and Opportunity Act (WIOA)', 'Statewide Adult WIOA Growth Rate')">Statewide Adult WIOA Growth Rate</a></div>
					<div class="pad-down-5 panel-bullet">&bull; <a class="link" ng-click="panel.goToIndicator('Workforce Innovation and Opportunity Act (WIOA)', 'Statewide Dislocated Worker Funding')">Statewide Dislocated Worker Funding</a></div>
				<div class="panel-headline"><h2>International Exports</h2></div>
					<div class="pad-down-5 panel-bullet">&bull; <a class="link" ng-click="panel.goToIndicator('International Exports', 'Total Exports')">Total Exports</a></div>
					<div class="pad-down-5 panel-bullet">&bull; <a class="link" ng-click="panel.goToIndicator('International Exports', 'Export Share of GDP')">Export Share of GDP</a></div>
		</div>

		</div>
		<div class="col-sm-3 update-column">
			<div id="update-sign-up-container" class="center" ng-click="panel.toggleShowing('mailingList')">
				<img id="overlay-mail-icon" class="icon" width="105" height="75" alt="Add Me To Mailing List" src="img/mail-large.svg">
				<h2>Get the latest!</h2>
				<p>Sign up for our monthly update here.</p>
			</div>
			<div id="update-help-button-container" class="center">
				<h2>Need help?</h2>
				<p class="update-help-button-text">Here's how to use our updated search functions:</p>
				<div>
					<button type="button" class="btn btn-sm btn-primary update-help-button" ng-click="panel.toggleShowing('help'); panel.selectHelpTab(3);">City-County Search</button>
					<button type="button" class="btn btn-sm btn-primary update-help-button" ng-click="panel.toggleShowing('help'); panel.selectHelpTab(5);">County Officials</button>
				</div>
			</div>
		</div>
	</div>

	<div class="center" ng-show="panel.isShowing('accessMoreData')">
		<p><h3>Keep Me Updated!</h3></p>
		<p>Submit your email to the mailing list and receive updates when new features have been added.</p>
	
		<mailing-form></mailing-form>
		<!--<div class="center extraction-tool-header"><h3><a class="link" href="http://cic.naco.org/cic_extraction/cic_extraction_1.cfm">County Explorer Extraction Tool</a></h3></div>
		<div class="center">
			<div class="extraction-tool-content"><p>
				Customizable data downloads now available! 
				Download the most recent data and additional historical data from over 500 indicators. 
				Start by clicking <a class="link" onclick="noty({text: 'Purchases of subscriptions are temporarily suspended. We are reviewing the distribution process. Thank you for your patience.'})" href="#">here*</a>.
			</p></div>
			<a class="link" href="#" onclick="noty({text: 'Purchases of subscriptions are temporarily suspended. We are reviewing the distribution process. Thank you for your patience.'})"><img class="extraction-tool-img" src="img/CICExtractionThumb.png" width="400" height="262" /></a>
			<div class="extraction-tool-content"><p>
				Purchases of subscriptions are temporarily suspended. We are reviewing the distribution process. Thank you for your patience.
			</p></div>
		</div>-->
	</div>
	
	<div class="center" ng-show="panel.isShowing('mailingList')">
		<p><h3>Keep Me Updated!</h3></p>
		<p>Submit your email to the mailing list and receive updates when new features have been added.</p>
	
		<mailing-form></mailing-form>	
	</div>
	
	<div class="center" ng-show="panel.isShowing('thankYou')">
		<p><h3>Thank you! Now you will be the first to know about the latest county data.</h3></p>
		<p>Don't forget to <a class="link share-toggle">share the County Explorer</a> with others!</p>
	</div>
	
	<div class="helpText" ng-show="panel.isShowing('help') && panel.isHelpSelected(1)">
		<div class="panel-title"><h1>Help</h1></div>
		<div class="panel-content">
			<p>
				<div class="help-link-container">&bull; <span class="help-link" ng-click="panel.selectHelpTab(2);">View a new indicator on the map</span></div>
				<div class="help-link-container">&bull; <span class="help-link" ng-click="panel.selectHelpTab(2);">See detailed information on an indicator</span></div>
				<div class="help-link-container">&bull; <span class="help-link" ng-click="panel.selectHelpTab(4);">Find a county</span></div>
				<div class="help-link-container">&bull; <span class="help-link" ng-click="panel.selectHelpTab(4);">Find a county by a city name</span></div>
				<div class="help-link-container">&bull; <span class="help-link" ng-click="panel.selectHelpTab(4);">Find a county by a state name</span></div>
				<div class="help-link-container">&bull; <span class="help-link" ng-click="panel.selectHelpTab(5);">Find a county seat or an elected official</span></div>
			</p>
		</div>
	</div>
	
	<div class="helpText" ng-show="panel.isShowing('help') && panel.isHelpSelected(2)">
		<div class="panel-title"><h1>Getting Started</h1></div>
		<div class="panel-content">
			<p>
				<!-- <div class="pad-down-5">&bull; The map always displays the latest year of data in the CIC database for the &quot;Primary Indicator&quot;.</div> -->
				<div class="pad-down-5">&bull; Pick a statistic by clicking on &quot;Map an Indicator&quot; on the top left of the screen and choosing an indicator.</div>
				<div class="pad-down-5">&bull; <b>Click</b> on a county on the map to show the statistics for the chosen indicator for that county.</div>
				<div class="pad-down-5">&bull; <b>Double-click</b> on a county on the map to show detailed information about that county.</div>
			</p>
			<br/>
			<div>Click on the "STAY UP TO DATE" button in the top-right corner to sign up for the monthly updates of the County Explorer.</div>
			<br/>
			<div><img src="img/Mail.svg"> - Sign up for <b>County Explorer data updates</b> to be the first to know the latest information about counties</div>
			<br/>
			<div><img src="img/Share.svg"> - Share the County Explorer on social media</div>
		</div>
	</div>
	
	<div class="helpText" ng-show="panel.isShowing('help') && panel.isHelpSelected(3)">
		<div class="panel-title"><h1>Finding A County</h1></div>
		<div class="panel-content">
			<p>
				<div class="pad-down-5">&bull; To find out which county a <b>city</b> is in, click on "City Search" and type in the name of the city.</div>
				<div class="pad-down-5">&bull; To find a particular <b>county</b> and its basic information, click on "County Search" and type in the name of the county.</div>
				<div class="pad-down-5">&bull; To see all the counties within a <b>state</b>, click on "State Search" and pick a state from the dropdown.</div>
				<div class="pad-down-5 hidden-xs">&bull; You may also double click on a county on the map to get it's basic county information.</div>
			</p>
		</div>
	</div>
	
	<div class="helpText" ng-show="panel.isShowing('help') && panel.isHelpSelected(4)">
		<div class="panel-title"><h1>Using the Map</h1></div>
		<div class="panel-content">
			<p>
				<div class="pad-down-5">&bull; Pick a new statistic by clicking on &quot;Map an Indicator&quot; on the top left of the screen and choosing an indicator.</div>
				<div class="pad-down-5">&bull; Click on a county on the map to show detailed statistics.</div>
				<br/>
				<div class="pad-down-5">&bull; Scroll up when hovering over the map to ZOOM IN.</div>
				<div class="pad-down-5">&bull; Scroll down when hovering over the map to ZOOM OUT.</div>
				<p>&bull; Click <img src="img/Back_to_US.svg"> to fully zoom out and see the entire map</p>
			</p>
		</div>
	</div>
	
	<div class="helpText" ng-show="panel.isShowing('help') && panel.isHelpSelected(5)">
		<div class="panel-title"><h1>County Information and Details</h1></div>
		<div class="panel-content">
			<div class="pad-down-5">Double-click on any county on the map to view more information about the county.</div><br/>
			<div class="pad-down-5">Available information includes:</div>
			<div class="pad-down-5 margin-left-10">&bull; Population</div>
			<div class="pad-down-5 margin-left-10">&bull; County Seat</div>
			<div class="pad-down-5 margin-left-10">&bull; Size of Board</div>
			<div class="pad-down-5 margin-left-10">&bull; List of Elected Officials</div>
			<!-- <p class="pad-down-5">You can also find out whether a county has an Elected Executive or County Administrator by navigating to the "Government Structure" dataset</p>
			<p class="pad-down-5">You can also find out whether a county has an Elected Executive or County Administrator by selecting from the "Primary Indicator"</p>
			<p>
				<div class="pad-down-5">&bull; Hover over the "County Structure" category</div>
				<div class="pad-down-5">&bull; Hover over the "Government Structure" dataset</div>
				<div class="pad-down-5">&bull; Select "Elected Executive" or "County Administrator" to see which counties have that position</div>
			</p> -->
		</div>
	</div>
	
	<div class="pagination-container hidden-xs" ng-show="panel.isShowing('help')">
		<ul class="pagination">
			<li>
				<a class="link" ng-click="panel.incrementHelpTab(-1)">&laquo;</a>
			</li>
			<li name="1" ng-class="{active: panel.isHelpSelected(1)}">
				<a class="link" ng-click="panel.selectHelpTab(1)">1</a>
			</li>
			<li name="2" ng-class="{active: panel.isHelpSelected(2)}">
				<a class="link" ng-click="panel.selectHelpTab(2)">2</a>
			</li>
			<li name="3" ng-class="{active: panel.isHelpSelected(3)}">
				<a class="link" ng-click="panel.selectHelpTab(3)">3</a>
			</li>
			<li name="4" ng-class="{active: panel.isHelpSelected(4)}">
				<a class="link" ng-click="panel.selectHelpTab(4)">4</a>
			</li>
			<li name="5" ng-class="{active: panel.isHelpSelected(5)}">
				<a class="link" ng-click="panel.selectHelpTab(5)">5</a>
			</li>
			<li>
				<a class="link" ng-click="panel.incrementHelpTab(1)">&raquo;</a>
			</li>
		</ul>
	</div>
</div>